<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.splitty">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Splitty">

        <activity android:name=".bill_Input"></activity>
        <activity android:name=".home_screen"></activity>
        <activity android:name=".manual_Bill"></activity>
        <activity android:name=".signUP"></activity>
        <activity android:name=".scan_Bill"></activity>
        <activity android:name=".addFriends"></activity>
        <activity android:name=".scanConfirmation"></activity>
        <activity android:name=".safetyScreen"></activity>
        <activity android:name=".addTip"></activity>
        <activity android:name=".confirmGroup"></activity>
        <activity android:name=".addFriendsToPay"></activity>
        <activity android:name="confirmGroupToPay"></activity>
        <activity android:name="eachMemberPayment"></activity>
        <activity android:name=".totalBill"></activity>
        <activity android:name=".groupClass"></activity>


        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>